body {
    background-color: rgb(236, 236, 236);
}

.employee-card {
    width: 600px !important;
    height: 340px !important;
    max-width: 18rem !important;
}

.list-group-item {
    border-style: none;
}